@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&family=Roboto+Slab&display=swap');

html {
  font-family: 'Roboto Slab', serif;
  background: #c8c8c8;
}

header {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: left;
}

.instrucciones {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 5rem;
  text-align: left;
}

.contenedor {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.contenedor-texto, .contenedor-resultado {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.botones {
  width: 150px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
}

footer  {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

footer h3 {
  font-size: larger;
}

footer h4 {
  font-size: medium;
  font-weight: bold;
}

footer p {
  font-size: smaller;
}

.sobre-mi, .redes-sociales, .contacto {
  width: 30%;
  display: inline-block;
  border: 1px solid red;
  padding: 0rem 1rem;
  vertical-align: top;
}

.redes {
  width: 40%;
  display: inline-block;
  border: 1px solid red;
  padding: 0rem 1rem;
  vertical-align: middle;
}

.logos-redes {
  width: 50px;
}

.logos-contacto {
  width: 90px;
}
